@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">

        
        <div class="">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
            <div class="category-nav-">
                @await Component.InvokeAsync("CategoryNavigation")
            </div>
        </div>


        <div class="image-slider">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })

            <section id="slider">
                <!--slider-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#slider-carousel" data-slide-to="1"></li>
                                    <li data-target="#slider-carousel" data-slide-to="2"></li>
                                </ol>

                                <div class="carousel-inner">
                                    <div class="item active firstanimation">
                                        <div class="col-sm-6 slider-text">
                                            <h1 style="margin-left: -34px;"><span style="color: #0974a5;">CLOUD</span> <span style="color:#ee7d4a;">STORES</span></h1>
                                            <h2>Your trusted online shopping center</h2>
                                            <p> </p>
                                            <button type="button" class="btn btn-default get"  onclick="redirec()"> Shop now</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="../Themes/DefaultClean/Content/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                            <img src="../Themes/DefaultClean/Content/images/home/pricing.png" class="pricing" alt="" />
                                        </div>
                                    </div>
                                    <div class="item secondanimation">
                                        <div class="col-sm-6 slider-text">
                                            <h1  style="margin-left: -34px;"><span style="color: #0974a5;">CLOUD</span> <span style="color:#ee7d4a;">STORES</span></h1>
                                            <h2>Your trusted online shopping center</h2>
                                            <p> </p>
                                            <button type="button" class="btn btn-default get" onclick="redirec()"> Shop now</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="../Themes/DefaultClean/Content/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                            <img src="../Themes/DefaultClean/Content/images/home/pricing.png" class="pricing" alt="" />
                                        </div>
                                    </div>

                                    <div class="item thirdanimation">
                                        <div class="col-sm-6 slider-text">
                                            <h1  style="margin-left: -34px;"><span style="color: #0974a5;">CLOUD</span> <span style="color:#ee7d4a;">STORES</span></h1>
                                            <h2>Your trusted online shopping center</h2>
                                            <p> </p>
                                            <button type="button" class="btn btn-default get" onclick="redirec()"> Shop now</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="../Themes/DefaultClean/Content/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                            <img src="../Themes/DefaultClean/Content/images/home/pricing.png" class="pricing" alt="" />
                                        </div>
                                    </div>

                                </div>

                                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </section><!--/slider-->
        </div>


        <div class="" style=" color: #696763;  margin-top: -5%;">

            <div class="featured-products-class">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
                <div class="featured-products" style=" ">
                    @await Component.InvokeAsync("HomepageProducts")
                </div>
            </div>

            

         

        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
       
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
    </div>
<script>
    function redirec() {
        window.location = "@Url.RouteUrl("NewProducts")";
    }

    function expandList() {
        var itemGrid = document.getElementById("featured_products");
        var itemGridChildren = itemGrid.children

        for (item of itemGridChildren) {
            item.setAttribute("style", "display: bloack")
        }
        
        var featuredProductsShowMoreElement = document.getElementById("featured_products_show_more");
        featuredProductsShowMoreElement.style = "display: none"
    }

    function trimList() {
        var itemGrid = document.getElementById("featured_products");
        var itemGridChildren = itemGrid.children
        var count = 0

        for (item of itemGridChildren) {
            count++

            if (count > 3) {
                item.setAttribute("style", "display: none")
            }
        }
    }

    trimList()
</script>
